<section class="comment">
  {{#each this}}
  <div class="text">
   Comment by {{this.user.name}} on {{post.date-created}}
  </div>
  <div class="text">
    {{this.comment_text}}
  </div>
  {{/each}}
</section>