<section class="comment">
  {{#each this}}
  <div class="text">
   Comment by {{this.user.username}} on {{format_date date_created}}
  </div>
  <div class="text">
    {{this.comment_text}}
  </div>
  {{/each}}
</section>