  
<article class="p-2"style="background-color: lightsteelblue ">
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title mt-3">Edit post</h2><hr>
<form class="form new-post-form edit-post-form">
  {{!-- post title --}}
      <div class="form-group">
        <label for="post-title">Post Title:</label><br>
      <input name="edit-post-title" contenteditable="true" id="post-name" value="{{title}}" /> 
      </div>
      {{!-- post content/description --}}
      <div class="form-group">
        <label for="post-desc" width="80%">Post Content:</label><br>
      <input name="edit-post-body w  contenteditable="true" id="post-desc" value="{{description}}" /> 
      {{!-- submit button --}}
      <div class="form-group">
        <button type="submit" class="button btn-success btn btn-sm submit"> Save Changes</button>
      </div>
    </form>
</article>
<script src="/javascript/edit-post.js"></script>